@layer theme, base, components, utilities;

@import "@radix-ui/themes/tokens.css" layer(theme);
@import "tailwindcss/theme" layer(theme) prefix(bp);

@import "tailwindcss/preflight" layer(base) prefix(bp);
@import "@radix-ui/themes/components.css";
@import "@radix-ui/themes/utilities.css";
@import "tailwindcss/utilities" layer(utilities) prefix(bp);

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 47.4% 11.2%);
  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(222.2 47.4% 11.2%);
  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(222.2 47.4% 11.2%);
  --color-primary: hsl(222.2 47.4% 11.2%);
  --color-primary-foreground: hsl(210 40% 98%);
  --color-secondary: hsl(210 40% 96.1%);
  --color-secondary-foreground: hsl(222.2 47.4% 11.2%);
  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 47.4% 11.2%);
  --color-destructive: hsl(0 100% 50%);
  --color-destructive-foreground: hsl(210 40% 98%);
  --color-ring: hsl(215 20.2% 65.1%);
}

[data-accent-color] {
  --color-primary: var(--accent-9);
  --color-primary-foreground: var(--accent-contrast);
}

[data-radius] {
  --radius-md: max(var(--radius-2), var(--radius-full));
}

@source "./lib/**/*.tsx";
@source "./lib/**/*.{ts,tsx}";

@variant dark (&:where(.dark, .dark *));
