@import "../styles/tailwind.css";
@import "../styles/root-styles.css";
@import "../styles/alignment.css";
@import "../styles/docs-page.css";
@import "../styles/docs-sidebar.css";
@import "../styles/blog.css";
@import "../styles/font-sizes.css";
@import "../styles/avatar.css";
@import "../styles/hero.css";
@import "@locospec/blueprint-react/main.css";

@layer custom-base {
  h1 {
    color: green;
  }
}

@layer custom-elements {
  .my-component {
    background: #eee;
    padding: 10px;
  }
}
